.sub-items {
    position: absolute;
    list-style-type: none;
    z-index: 99;
    width: 260px;
    background-color: var(--Interface-background);
    border-radius: 0 8px 8px 0;
    box-shadow: var(--shadow-8), var(--shadow-4);

    &_left {
        border-radius: 8px 0 0 8px;
    }
}
