.chat {
    position: relative;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--Interface-border-100);
    background-color: var(--Interface-background-wa);

    &__header {
        flex: 0 0 auto;
        border-bottom: 1px solid var(--Interface-border-100);
    }

    &__content {
        flex: 1 1 auto;
    }

    &__footer {
        flex: 0 0 auto;
    }

    &__empty {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
