.container {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 24px 24px;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: var(--Darkner-darkner-4);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--Text-text-third);
        border-radius: 4px;
    }
}
