.menu {
    position: absolute;
    z-index: 1;
    top: -10000px;
    left: -10000px;
    display: flex;
    padding: 4px 8px;
    margin-top: -6px;
    border-radius: 12px;
    background-color: var(--Interface-background);
    opacity: 0;
    box-shadow:
        0 8px 16px var(--Darkner-darkner-8),
        0 0 4px var(--Darkner-darkner-4);
    transition: opacity 0.75s;

    & > * {
        display: inline-block;
    }

    & > * + * {
        margin-left: 15px;
    }
}
